body{
  background-image: url(img/gold_back.png);
  margin: 0;
  margin-top: 20px;
}

.header1{
margin-top: 0;  
text-align: right;
margin-right: 30px;
}

.mes{
  font-size: 25px;
  
  margin-top: 0;
  margin-bottom: 0;
}

.mes a{
  text-decoration: none;
  color:#444444;
  
}

.mes a:hover{
  transition: .3s;
  opacity: .5;
}

.header2{
  margin-top: 0px;
  text-align: center;
  font-size: 70px;
  color: #444444;
  font-family: cursive;
}

.list1 {
  display: flex;
  justify-content: space-around;
}

.list2 {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.white {
  border: solid;
  border-color: #444444;
  border-width: 3px;
  border-radius: 20px;
}

.white img{
  margin-top: 25px;
}

.choco {
  border: solid;
  border-color: #444444;
  border-width: 3px;
  border-radius: 20px;
}

.choco img{
  margin-top: 30px;
}

.melon {
  border: solid;
  border-color: #444444;
  border-width: 3px;
  border-radius: 20px;
}

.melon img{
  width: 330px; 
  height: 300px;
}

.furo {
  border: solid;
  border-color: #444444;
  border-width: 3px;
  border-radius: 20px;
}

.furo img {
  width: 330px; 
  height: 280px;
}

.rec {
  border: solid;
  border-color: #444444;
  border-width: 3px;
  border-radius: 20px;
}

.name{
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  font-size: 22px;
}